notes.txt
venv/
.venv/
ENV/

game_server
*.o
*.out
*.exe

__pycache__/
*/__pycache__/
.pytest_cache/
*/.pytest_cache/
*.pyc
*.pyo
*.pyd

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp

.wslconfig
*.core
vgcore.*